body {
    background-color: whitesmoke;
}

path {
    stroke: black;
    stroke-width: 4px;
    box-shadow: 2px 2px 5px black;
    transition: stroke-width 0.4s;
}

path:hover {
    stroke-width: 9px;
    box-shadow: 2px 2px 5px black;
}

/* PARTICLE PATHS */
.e-, .ep {
    stroke-width: 2px;
}
.mu- {
    stroke-width: 4px;
}
.y, .ve, .ve_bar, .vmu, .vmu_bar {
    stroke-width: 4px;
    opacity: 0%;
    stroke: #aaa;
    transition: opacity 0.4s;
}
.y:hover, .ve:hover, .ve_bar:hover, .vmu:hover, .vmu_bar:hover {
    opacity: 100%;
}

path.correct {
    stroke: yellowgreen;
    opacity: 100%;
}

path:active {
    stroke-width: 12px;
    stroke: yellowgreen;
}

.particle-button {
    position: relative;
    display: inline-block;
    background-color: #0f678d;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Verdana;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    border-width: 3px;
    border: 3px solid #0f678d;
    transition: background-color 0.3s, color 0.3s;
}

.antimatter-bar {
    text-decoration: solid overline;
}

.particle-button:hover{
    background-color: whitesmoke;
    color: black;
}

.particle-button:focus {
    background-color: whitesmoke;
    color: black;
}

/* Tooltip text */
.particle-button .particle-tooltip {
    visibility: hidden;
    width: 240px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    padding: 6px;
  
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 75%;
    margin-left: -60px;
  
    opacity: 0;
    transition: opacity 0.3s;
}
  
/* Tooltip arrow */
.particle-button .particle-tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 16%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #555 transparent;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.particle-button:hover .particle-tooltip {
    visibility: visible;
    opacity: 1;
}

@keyframes shake {
    0%                  {margin-left: 0; margin-right: 0;}
    10%, 90%            {margin-left: -1px; margin-right: 1px;}
    20%, 80%            {margin-left: 2px; margin-right: -2px;}
    30%, 50%, 70%       {margin-left: -4px; margin-right: 4px;}
    40%, 60%            {margin-left: 4px; margin-right: -4px;}
}

button.wrong {
    animation-name: shake;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-duration: 0.82s;
}

#buttons {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    border-top: 3px dashed #222;
    border-bottom: 3px dashed #222;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 600px;
    gap: 10px;
}

/* #introtext {
    width: 600px;
} */

#introtext h1, h2, p {
    font-family: Verdana;
}

#introtext a {
    color: inherit;
    text-decoration-thickness: 2px;
    text-decoration-style: dotted;
}

#introtext .toLevel {
    border: 2px solid #0f678d;
    background-color: #0f678d;
    padding: 6px;
    font-size: 16px;
    font-display: normal;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

#introtext .toLevel:hover {
    background-color: white;
    color: black;
}

.float-container {
    padding: 20px;
}

.float-child {
    width: 600px;
    float: left;
    padding: 20px;
}

#positronimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#positroncaption, #positroncaptionsource {
    text-align: center;
    font-size: 12px;
}

.loader {
    margin: 140px 240px;
    border: 16px solid #aaa;
    border-top: 16px solid #0f678d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.4s ease-in-out infinite;
}

.loader-small {
    margin: 40px 260px;
    border: 8px solid #aaa;
    border-top: 8px solid #0f678d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1.4s ease-in-out infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

sub {
    pointer-events: none;
}

a {
    font-family: Verdana;
}