body {
    background-color: whitesmoke;
}

path {
    stroke: black;
    stroke-width: 4px;
    box-shadow: 2px 2px 5px black;
    transition: stroke-width 0.5s, box-shadow 0.5s;
}

path:hover {
    stroke-width: 10px;
    box-shadow: 2px 2px 5px black;
}

path.correct {
    stroke: yellowgreen;
}

path:active {
    stroke-width: 12px;
    stroke: yellowgreen;
}

button {
    background-color: #0f678d;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Verdana;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    border-width: 3px;
    border: 3px solid #0f678d;
    transition: background-color 0.5s, color 0.5s;
}

button:hover{
    background-color: whitesmoke;
    color: black;
}

button:focus {
    background-color: whitesmoke;
    color: black;
}

@keyframes shake {
    0%                  {margin-left: 0; margin-right: 0;}
    10%, 90%            {margin-left: -1px; margin-right: 1px;}
    20%, 80%            {margin-left: 2px; margin-right: -2px;}
    30%, 50%, 70%       {margin-left: -4px; margin-right: 4px;}
    40%, 60%            {margin-left: 4px; margin-right: -4px;}
}

button.wrong {
    animation-name: shake;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-duration: 0.82s;
}

#buttons {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    width: 600px;
    gap: 10px;
}